/* 
.card-footer {
    padding: 0;
}
.card {
    margin-bottom: 30px;
}
.btn-outline-secondary {
    float: left;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
}


button.close {
    text-align: right;
}


.card-img-top {
    margin: auto;
    padding-top: 10px;
}

.card-title {
    text-align: center;
} */

.crop {
    width: 100%;
    overflow: hidden;
    margin: 0;
}

.crop img {
    display:block; /*remove inline-block spaces*/
    height: 100%; /*make image streatch*/
    margin: auto;
}
.product-card {
    margin-bottom: 10px;

}

.mat-fab.mat-fab-bottom-right {
    top: auto;
    right: 20px;
    left: auto;
    bottom: 20px;
    position: absolute;
}