
<div *ngIf="!validBarcode" class="alert alert-warning">
    <div *ngIf="!barcodeValidator.correctLength">
        This barcode has not the right length! Please scan again.
    </div>
    <div *ngIf="!barcodeValidator.validChecksum">
        This checksum is not valid! Please scan again.
    </div>
</div>

<div *ngIf="showAddProduct" class="alert alert-primary justify-content-between" role="alert">
    <button type="button" class="close" aria-label="Close" (click)="showAddProduct = !showAddProduct">
        <span aria-hidden="true">&times;</span>
    </button>
    <div class="d-block">
            Product with barcode {{ event }} not in database. 
    </div>
    <button *ngIf="currentUser" (click)="createProduct()" type="button" class="btn btn-light">Create</button>    
</div>

<product-card
    (close)="contScanning()"
    (edit)="editProduct($event)"
    (add)="addToFridge()"
    [product]="product"
    [items]="fridgeEntries"
    [show-actions]="true"
    *ngIf="product"
    >
</product-card>
<inventory-record
    *ngFor="let item of fridgeEntries"
    (remove)="remove($event)"
    (update)="update($event)"
    [item]="item">
</inventory-record>



<button mat-raised-button (click)="scanSuccessHandler('7613404113745')" >Scan Eggs</button>
<button mat-raised-button (click)="scanSuccessHandler('7610632994122')" >fake scan unknown</button>
<button mat-raised-button (click)="switchCamera()" [disabled]="false && !(availableCameras?.length > 1)">Switch Camera</button>

<zxing-scanner
    [ngStyle]="{
        'visibility': (scanningInProgress && currentFridge) ? 'inherit' : 'hidden'
    }"
    [formats]="['EAN_13']"
    (scanSuccess)="scanSuccessHandler($event)"
    (camerasFound)="camerasFoundHandler($event)"
    [(device)]="currentCamera"
    >
</zxing-scanner>

<scan-action *ngIf="currentFridge" (click)="cameraClick()"></scan-action>
