<!-- unused navbar-light / navbar-dark / bg-light / bg-dark -->

<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" routerLink="/">Fridgy</a>

    <button
      (click)="toggleBurger()"
      [attr.aria-expanded]="isShown"
       class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div [ngbCollapse]="!isShown" class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a (click)="toggleBurger()" class="nav-link" routerLink="/products">Products</a>
        </li>
        <li class="nav-item">
          <a (click)="toggleBurger()" class="nav-link" routerLink="/scanner">Scanner</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li> -->
        <ng-template #anonymousUser>
          <li class="nav-item">
            <a (click)="toggleBurger()" routerLink="/login" class="nav-link" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Login
            </a>
          </li>
        </ng-template>
        <li *ngIf="currentUser" ngbDropdown class="nav-item dropdown">
          <a ngbDropdownToggle class="nav-link" id="dropdown00" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            MyFridges
          </a>
          <div
            ngbDropdownMenu
            class="dropdown-menu"
            aria-labelledby="dropdown00">
            <span class="fridge" *ngFor="let fridge of fridges;">
              <a
                (click)="activateFridge(fridge)"
                ngbDropdownItem class="dropdown-item fridge-link"
                >{{fridge.name}}
                <fa *ngIf="fridge?.id === (currentFridge$ | async)?.id" name="check" size="s"></fa>
              </a>
              <a
                class="edit"
                (click)="editFridge(fridge)">
                <fa name="cog" animation="spin" size="s"></fa>
              </a>
            </span>
            <span class="fridge addNew" *ngIf="!showAddFridgeName" (click)="$event.stopPropagation(); showAddFridgeName = !showAddFridgeName">add new...</span>
            <span class="fridge addNew" *ngIf="showAddFridgeName">
              <input #fridgeName (keyup.enter)="addFridge(fridgeName)" type="text">
            </span>
          </div>
        </li>
        <li *ngIf="currentUser; else anonymousUser" ngbDropdown class="nav-item dropdown">
          <a ngbDropdownToggle class="nav-link" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ currentUser.displayname }}
          </a>

          <div
            ngbDropdownMenu
            class="dropdown-menu"
            aria-labelledby="dropdown01">

            <ng-container *ngIf="currentUser.isadmin">
              <a (click)="toggleBurger()" ngbDropdownItem class="dropdown-item" routerLink="/admin/products">Manage Products</a>
              <a (click)="toggleBurger()" ngbDropdownItem class="dropdown-item" routerLink="/admin/users">Manage Users</a>
            </ng-container>
            
            <a (click)="toggleBurger()" ngbDropdownItem class="dropdown-item" (click)="onLogout()">Logout</a>
          </div>
        </li>
      </ul>
<!--       <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
      </form> -->
    </div>
  </nav>