
<div *ngIf="currentFridge; else noFridge">
    <h5>
    {{ currentFridge.name }}
    </h5>
    
    <inventory-record
    *ngFor="let item of items"
    (remove)="remove($event)"
    (update)="update($event)"
    [item]="item" [show-product]="true"></inventory-record>

        
    <!-- <ul>
        <li *ngFor="let item of items"> {{ item.barcode }}: {{ item.qty }}: {{ item.product?.name }} </li>
    </ul> -->

</div>

<ng-template #noFridge>
    <div>
        Please chose a fridge to show its content here!
    </div>    
</ng-template>

<scan-action *ngIf="currentFridge" (click)="goToScan()"></scan-action>
