<div class="row" style="display: block;">
    <div class="col">
        <!-- <product-filter [category]="category"></product-filter> -->
        <product-filter-chips [category]="category"></product-filter-chips>

    </div>
    <div class="col">
        <div class="row product-container" >
            <ng-container *ngFor="let p of filteredProducts; let i = index">
                <div class="col">
                    <product-card (edit)="editProduct($event)" [product]="p" [show-actions]="false"></product-card>
                </div>
                <div *ngIf="(i+1)%2 === 0" class="w-100"></div>
            </ng-container>
        </div>        
    </div>
</div>

